boto3==1.37.4
botocore==1.37.4
torch==2.6.0
transformers==4.49.0
web3==7.8.0
python-dotenv==1.0.1
tenacity==9.0.0
asyncio==3.4.3
fastapi==0.115.11
uvicorn==0.34.0
gunicorn==23.0.0
hvac==2.3.0
psycopg2-binary==2.9.10
pydantic==2.10.6
